@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #060606;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

h3{
  font-family: 'Poppins', sans-serif;
  font-weight:600;
}

p{
  font-weight: 400;
}

@media screen and (min-width: 320px) {
  h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
  }
  
  h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
  }
  
  h3{
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 16px;
  }
  
  p{
    font-size: 16px;
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) {
  h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
  }
  
  h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
  }
  
  h3{
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 20px;
  }
  
  p{
    font-size: 16px;
    font-weight: 400;
  }
}


@media screen and (min-width: 1920px) {
  h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 100px;
  }
  
  h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
  }
  
  h3{
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 30px;
  }
  
  p{
    font-size: 18px;
    font-weight: 400;
  }
}

.circle{
  animation: colorChange 20s infinite linear;
  width: 50vw;
  height: 50vw;
  max-height: 600px;
  max-width: 600px;
}

@keyframes colorChange {
  0%{
    background-color: #F9B852;
    opacity: 0.5;
  }
  16.666%{
    background-color: #F67867;
    opacity: 0.3;
  }
  33.32%{
    background-color: #C45087;
    opacity: 0.5;
  }
  49.98%{
    background-color: #935EAB;
    opacity: 0.3;
  }
  66.64%{
    background-color: #2D9CCA;
    opacity: 0.5;
  }
  83.3%{
    background-color: #567AC2;
    opacity: 0.3;
  }
  100%{
    background-color: #F9B852;
    opacity: 0.5;
  }
}


.marquee-container h2::before{
  content: " ";
  display: inline-flex;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #F9B852;
  margin-right: 20px;
}

.marquee-container{
  padding-right: 20px;
}

.rotate{
  animation: rotate 20s infinite linear;
}

@keyframes rotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
  
}

.productStrokeText{
  position: absolute!important;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color:transparent;
  font-size: 50px;
  text-transform: uppercase;
  display: none!important;
}

.productHoverTrigger:hover  .productStrokeText{
  display: flex!important;
}

.productHoverTrigger:hover .productText{
  opacity: 0;
}

.imgContainer{
  overflow: hidden;
}

.imgContainer img {

  transition: transform 0.3s ease-in-out;
}

.imgContainer:hover img {
  transform: scale(1.2); /* Ajuste o valor conforme necessário */
}


.divider{
  background: linear-gradient(90deg, rgba(249,184,82,1) 0%, rgba(246,120,103,1) 20%, rgba(195,80,135,1) 40%, rgba(147,94,171,1) 60%, rgba(45,156,202,1) 80%, rgba(249,184,82,1) 100%);
}
